<%- include("partials/head.ejs") %>

        <!-- 1st Div -->
        <div id="div1" class="container">
          <button id="createJokeBtn" ><a  href="/createJoke">Create Joke</a></button>
          <button id="getJokeBtn"><a href="/getJoke">Get Joke</a></button>
        </div>

    
<%- include("partials/foot.ejs") %>


